{% extends 'base.html' %}

{% block head %} 
{% endblock %}



{% block body%} 
    <div class="content">

        <br><h1 style="text-align: center;">Movie Recommendation System</h1>
        {% if movies|length < 1 %}
        <h4 style="text-align: center;">Add a movie below</h4>
        {% else %}
        <table>
            <tr>
                <th>Movies</th>
            </tr>
            {% for movie in movies %}
            <tr> 
                <td>{{ movie }}</td>
            </tr>
        {% endfor %}
            
        </table>
        {% endif %}
        <div class="form">
            <form action="/" method="POST">
                <input type="text" name="content" id="content">
                <input type="submit" name="Add Movie">
            </form>
        </div>
        <footer>

            <a href="mailto:mehmetoktay2016@yandex.com">mehmetoktay2016@yandex.com</a></p>
        </footer>
    </div>
{% endblock %}

<!-- {% block footer %}
  
{% endblock %} -->
